# s/o
.DS_Store
Thumbs.db

# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-error.log
firebase-debug.log
.firebaserc
firebase.json
storage.rules
firestore.indexes.json
firestore.rules

# Expo
.expo/
.expo-shared/
.expo-packager-cache/
.expo-web/
.expo-dev-client/

# dev
web-build/
dist/
build/
ios/
android/

# editor 
.vscode/
.idea/
*.swp

# enviroment
backend/.env
.env.local
.env.development
.env.production
.env.*.local

# tests/tmp
coverage/
*.test.ts
*.test.tsx
jest.config.js
__tests__/
tmp/
temp/

# native
*.log
*.pid
*.seed
*.pid.lock
*.tgz
*.tar.gz
*.zip
*.map
*.lock
